{% extends 'base.html' %}

{% block title %}Create a User{% endblock %}

{% block content %}
  <h2>Create a user</h2>

  <!--Comment for test_show_add_user_form, please don't remove.-->

  <form method="POST" action="/users/new">
    <p>First Name:
        <input
          required
          name="first_name"
          type="text"
          placeholder="Enter a first name">
    </p>

    <p>Last Name:
        <input
          required
          name="last_name"
          type="text"
          placeholder="Enter a last name">
    </p>

    <p>Image URL:
        <input
          name="image_url"
          type="url"
          placeholder="Provide an image of this user">
    </p>

    <button>Add</button>
  </form>
{% endblock %}

<!--TODO: work on formatting <p> elements around inputs. Potentially change
  p elements to labels and just clarify what is inline vs block-->